[tool.pytest.ini_options]
addopts = "--cov=app --cov-report=xml:coverage.xml --cov-report=term-missing"
testpaths = ["tests"]

[tool.coverage.run]
branch = true
source = ["app"]
relative_files = true

[tool.coverage.xml]
output = "coverage.xml"